<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <form class="modal-content" ng-submit="evalPromptable()">
      <div class="modal-header" ng-show="title">
        <h3 class="modal-title" ng-bind="title"></h3>
      </div>
      <div class="modal-body">
        <input type="text"
          class="form-control input-lg"
          ng-model="data['value']"
          cask-focus="caskPromptModal" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
        <button type="submit" class="btn btn-success">OK</button>
      </div>
    </form>
  </div>
</div>
